# Purpose of script

The purpose of the script is to get to know the Google Trends API

I'll be using a wrapper Python package (`pytrends`) to interface with the API

https://pypi.org/project/pytrends/

Note: This package (`pytrends`) may not be up to date because it's not an official Google Trends API and since Google constantly updates their backend, it's likely that these scripts will have to change.

In [9]:
import pandas as pd
import pytrends
from pytrends.request import TrendReq

### Initialize API

In [10]:
pytrends_API = TrendReq()

### Look for particular keywords

Some terms to look up

1. covid/covid19
2. coronavirus
3. lockdown
4. quarantine
5. shutdown
6. vaccine

In [5]:
keywords = ["covid", "coronavirus", "lockdown", "quarantine", "vaccine"]

In [21]:
pytrends_API.build_payload(kw_list = keywords, geo = "US")

#### Look up prevalence of keywords, by region

The values are calculated on a scale from 0 to 100, where 100 is the location with the most popularity as a fraction of total searches in that location, a value of 50 indicates a location which is half as popular. A value of 0 indicates a location where there was not enough data for this term.

In [24]:
interest_by_state = pytrends_API.interest_by_region()

In [25]:
interest_by_state.head(20)

                      covid  coronavirus  lockdown  quarantine  vaccine
geoName
Alabama                  40           50         1           2        7
Alaska                   51           39         1           2        7
Arizona                  43           47         1           2        7
Arkansas                 43           47         1           2        7
California               41           47         2           2        8
Colorado                 46           44         1           2        7
Connecticut              43           45         1           3        8
Delaware                 41           48         1           2        8
District of Columbia     40           45         1           3       11
Florida                  39           50         1           2        8
Georgia                  41           48         1           2        8
Hawaii                   42           45         1           5        7
Idaho                    40           52         1           1        6
Illinois                 43           46         2           2        7
Indiana                  41           48         1           2        8
Iowa                     45           45         1           2        7
Kansas                   42           47         1           3        7
Kentucky                 43           46         1           2        8
Louisiana                40           50         1           2        7
Maine                    43           47         1           2        7

How has this interest changed over time?

In [27]:
pytrends_API.interest_over_time()

            covid  coronavirus  lockdown  quarantine  vaccine isPartial
date
2016-02-14      0            0         0           0        0     False
2016-02-21      0            0         0           0        0     False
2016-02-28      0            0         0           0        0     False
2016-03-06      0            0         0           0        0     False
2016-03-13      0            0         0           0        0     False
...           ...          ...       ...         ...      ...       ...
2021-01-10     23            3         0           0       10     False
2021-01-17     22            3         0           0       10     False
2021-01-24     22            3         0           0       10     False
2021-01-31     19            2         0           0       10     False
2021-02-07     15            2         0           0        7      True

[261 rows x 6 columns]